// Colors
// Spacing
$s-size: 1.2em;
$m-size: 1.6em;
$l-size: 3.2em;
$xl-size: 4.8em;
$desktop-breakpoint: 45rem;
$urls1: "/images/bgs1.jpg";
$urls2: "/images/bgs2.jpg";
$urlarrow:'/images/arrow.svg';
