// Colors
// Spacing
$xs-size:0.8em;
$s-size: 1.2em;
$m-size: 1.6em;
$l-size: 3.2em;
$xl-size: 4.8em;

// $small-size : max-width 640px;
// $medium-size : 641px 1044px;
// $xl-size : min-width 1044px;
// assume min-width (by default) if only a number
$high-tide: 801px;
// set min-width/max-width if both values are numbers
$ex-presidents: 600px 800px;
// if one value is a string, assume a feature/value pair
$surfboard-width: max-width 599px;
// string tests together within parentheses, assume each item is a feature value pair
$surfboard-height: (min-height 1000px) (orientation portrait);

$urls1: "/images/bgs1.jpg";
$urls2: "/images/bgs2.jpg";
$urlArrow:'/images/arrow-down.svg';
$urlFacebook:'/images/facebook.svg';
$urlGithub:'/images/github.svg';
$urlLinkedin:'/images/linkedin.svg';
$urlTwitter:'/images/twitter.svg';
$urlFast:'/images/fast.svg';
$urlResponsive:'/images/responsive.svg';
$urlClock:'/images/clock.svg';
$urlDynamic:'/images/dynamic.svg';
$urlIntuitive:'/images/intuitive.svg';
$urlWacky:'/images/wacky.jpg';

.icon{
	height:5em;
	width:5em;
	align-self: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom:0.2em;
}
body{
    text-align:center;
}


.content-box{
    display:flex;
    flex-direction:column;
    padding:0 1em;
}
.progressbar-complete{
	background:linear-gradient(to right,Tomato,DarkOrange);
	height:100%;
	width:100%;
	display:inline-block;
	float:left;
  }
  .progressbar-progress{
	display:flex;
	justify-content: flex-start;
	background:#eee;
	height:1.5em;
	width:20em;

	 margin-bottom:1em;
	span{
	  &:nth-child(1){

		padding:0 1em;
	  background:SandyBrown;
		  font-size:1.1em;
		font-weight:bold;
	  color:white;
	  width:2.5em;
	  }
	  &:nth-child(3){
		 margin-left:auto;
	  }
	}
  }