footer {
  background-color: #4d4d4d;
  width: 100%;
  display: flex;
  flex-direction: column;
  // bottom: 0;
}

#ftRights {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #363636;
  padding: 3em 0;
  margin: auto;
  p {
    margin: 1;
    font-size: $s-size;
    color: white;
    background: none;

  }

  .facebook {
    background-image: url($urlFacebook);
  }
  .github {
    background-image: url($urlGithub);
  }
  .twitter {
    background-image: url($urlTwitter);
  }
  .linkedin {
    background-image: url($urlLinkedin);
  }
}
