#section2 {
  height: 100vh;
  min-height: 1100px;
  z-index: 10;
  position: relative;
  padding: 100px 0 200px;
}
.s2-container {
  max-width: 1200px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin: 2em auto;
  }
  hr {
    min-width: 8em;
    width: 50%;
    margin: 2em auto 5em;
  }
  .svg-wrap {
    display: flex;
    flex-direction: row;

    .s2-wrap {
      display: flex;
      
    }
    p {
      font-weight: normal;
      font-size: $xs-size;
      display: flex;
    }

    .box1 {
      font-weight: bold;
      .fast {
        
        background-image: url($urlClock);
      }
    }
    .box2 {
      font-weight: bold;

      .responsive {
        font-weight: bold;
        
        background-image: url($urlResponsive);
      }
    }
    .box3 {
      font-weight: bold;
      .dynamic {
        background-image: url($urlDynamic);
      }
          }
      .box4{
        font-weight: bold;
        .intuitive{  
        background-image: url($urlIntuitive);
        }
           }
    
  }
  .wacky{
    margin-top:100px;
    font-family:Raleway;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    h2{
      margin:1em auto;
    }
     .portrait{
            img{
            height:14.7em;
            width:12.5em;
            background-image: url($urlWacky);
            background-size: contain;
            border-radius: 50%;
            background-repeat: no-repeat;
            }
              }

      }
  }

